:root {
    --color-default: #FF7C00;
    --color-primary: #0B1C48;
    --background-color-primary: #FF7C00;
    --background-color-secondary:#0B1C48;
}

/* ----------------------
the hero styling
---------------------- */

body{
    scroll-behavior: smooth !important;
    background-color: #F8F2FE !important;
    font-family: 'DM Sans'!important;
}
h1, h2, h3, h4, h5, p, span{
    font-family: 'DM Sans'!important;
}

.head{
    font-size: 8rem !important;
    margin-top: 5rem !important;
}

.head-p{
    font-size: 1.2rem !important;
    font-weight:200 !important;
}

.lenear{
    background: linear-gradient(130.3deg, rgba(1, 6, 19, 0.978) 27.12%, rgb(17, 9, 1) 96.94%);
    padding-bottom: 5rem !important;
}

@media screen and (max-Width:995px){
    .head{
        
        font-size:4rem !important;
    }
    .lenear{
        padding-bottom: 1.8rem !important;
    }
}
.glass-bg{
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(10px) !important;
    box-shadow:outset 10px 10px 10px gray !important;
    transition: 1.5s ease-in;
}


section, div{
    font-family: 'DM Sans'!important;
}


.custom{
   color:var(--color-default);
}

a.active, .checkbox-color {
    color: #FF7C00 !important;
}

.b-bottom{
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
}

.btn-advert a:hover{
    color: white !important;
    background-color:#D46700 !important;
    border: none !important;
    border-radius:0px !important;
}

.btn-get, .button, .navbar-toggler .btn, .input-btn{
    background-color: #FF7C00 !important;
    color: white !important;
    /* border: none !important; */
}

.btn-signup-2{
    padding: 0.7rem 5rem  !important;
    border-color: #D56700 !important;
    color: #D56700 !important;
}

.btn-signup-2:hover{
    background-color: var(--background-color-primary) !important;
    color: white !important;
    /* border: none !important; */
}


.btn-ad-1{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.btn-ad-2{
   border-top-right-radius: 4px !important;
   border-bottom-right-radius: 4px !important;
}

.btn-ad-1:hover, .btn-ad-2:hover{
    background-color: gray !important;
}

/* adbirt btn styling */
.btn-ad-1:focus, .btn-ad-2:focus{
    color: var(--color-default) !important;
}

.btn-get:hover, .button:hover, .navbar-toggler:hover{
   background: transparent !important; 
   color: var(--color-default) !important;
   border: 1px solid var(--color-default) !important;
   
}



/* ----------------------
the commited to.. styling
---------------------- */
.pub{
    color: #6F6400 !important;
}

.advert{
    color: var(--color-primary) !important  ;
}

.card-1{
    background-color: #F5E67A !important;
}

.card-2{
    background-color: #5DCFF3 !important;
}

/* ----------------------
the Adbirt.. styling
---------------------- */

.section-3, .section-5{
    background-color: var(--background-color-secondary);
}


.transperant{
    background-color: transparent !important;
}


/* 
.step{
  padding: 15% 0% 0% 10% !important;
} */

.accent{
    color: #0B1C48;
}

.ft-head{
    color: var(--color-default) !important ;
}

.bi-facebook{
    color: #4267b2;
}
.bi-twitter{
    color: #1DA1F2;
}

 /* .bi-instagram{
   color: #8641B1 62.5%,
    rgba(250, 155, 60, 0.5052) 94.27%,
    rgba(250, 155, 60, 0)100%; 
    color: transparent !important;
    background-clip: text !important;
    background-image:linear-gradient( #8641B1, #fa9b3c22, #FA9B3C) !important;


} */

.abirt::before{
    content: "" !important;
    display: block !important;
}

.input-btn{
    background-color: var(--background-color-primary);
}


.grim{
    margin-left: 8rem !important;
}

.form-wd{
    width: 93% !important;
    margin: auto !important;
}

.ft-colr{
    color: var(--color-primary) !important;
}
/* end of landing page */


/* -------------------------
how it works styling
---------------------------- */

.btn-become{
    color: #D56700 !important;
    border-color: #D56700 !important;
    background: transparent !important; 
}

/* how it works btn styling */
.btn-ad-a, .btn-ad-p{
    border-bottom: 1px solid var(--color-default) !important;
    border-radius: 0px !important;
}
.btn-ad-a:focus, .btn-ad-p:focus{
    color: var(--color-default) !important;
    border-color: var(--color-default) !important;
    border-bottom: 1px;
    border: none;

}

.btn-become:hover{
    color: white  !important;
    border: #D56700 !important;
    background-color: var(--background-color-primary) !important;
    border: 1px solid transparent;
}

/* ---------------
        cards
------------------ */
.create-w{
background-color: #E4EAFF !important;
border: 1px solid #CED9FF !important;
}

.create-ad{
    background-color: rgba(251, 167, 222, 0.19) !important;
    border: #FFAEF3 !important;
}

.fund-wall{
    background-color: #FFE4E4 !important;
    border: 1px solid rgba(245, 111, 111, 0.13) !important;
}

.set-bug{
    background-color: rgba(225, 236, 66, 0.33) !important;
    border: 1px solid #F9D75E !important;
}

.pub-color{
    color: var(--background-color-secondary) !important;
}

/* ---------------------------------
How it Works Page
---------------------------------- */
.bg-how-it{
    background-color:  #010100 !important;
}

/* ----------------------
pricing styling
------------------------- */
.pricing-btn{
    background-color: #FFF087 !important;
}
.pricing-btn-2{
    background-color:  #86DBFF !important;
}
.pricing-btn-color{
    color:   #877600 !important;
}
.pricing-btn-color-2{
    color:  #024765 !important;
}
.checkbox-color{
    color:  #877600 !important ;
}

.icon-bg{
    color: var(--color-default) !important;
}


/* -----------------------
        the form styling
-------------------------- */
.form-floating:not(.Subject){
    position: relative;
}
.icon{
    position: absolute;
    top: calc(10%);
    left: 0.8rem;
}

.form-floating:not(.Subject) label:not(.Subject), .form-floating:not(.Subject) .form-control:not(.Subject){
    left: .2rem !important;
    padding-left: 2.8rem !important;
}

.spn-col{
    background-color:#ffe5cc !important;
}

/* --------------------
styling for form
---------------------- */
.form-bg{
    background-color: 
    rgba(195, 201, 252, 0.1) !important;
}

.form-brand{
    font-size: 20rem !important;
}

.checkbox-color{
    color: var(--background-color-primary);
}

.form-btn{
    background-color: var(--background-color-primary) !important;
    color: white !important;
}

.form-btn:hover{
    background-color: transparent !important;
    border: 1px solid var(--background-color-primary) !important;
    color: var(--background-color-primary) !important;
}
.form-check-input{
    color: #86DBFF !important;
}